
[v-cloak] {
    display: none;
}

.fas, .far {
    font-size: 20px;
}

.fa-plus {
    transition-property: transform;
    transition-duration: 2s;
    transition-timing-function: ease-in;
}

.fa-pencil-alt {
    transition-duration:.3s;
    transition-property: transform, color;
    transition-timing-function: ease-in;
}

button:hover .fa-pencil-alt {
    transform: rotate(-10deg);
    color:lightgreen;
}

button:hover .fa-plus {
    transform: rotate(180deg);
}

.fa-trash-alt {
    transition-duration:.3s;
    transition-property: transform, color;
    transition-timing-function: ease-in;
}

button:hover .fa-trash-alt {
    transform: rotate(-10deg);
    color: #ff253a;
}

.fa-arrow-up, .fa-arrow-down {
    transition-duration:.3s;
    transition-property: color, transform;
    transition-timing-function: ease-in;
    
}

button:hover .fa-arrow-up, button:hover .fa-arrow-down {
    color:lightgreen;
    transform: rotate(-10deg);
}

* {
    transition: 1s;
}

/* .note {
    border-top: 10px solid red !important;
} */